* {
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif;
}

.container {
  width: 90%;
  margin: 2rem auto;
}

main {
  text-align: center;
}

input[type="text"] {
  text-align: center;
  width: 50%;
  margin-bottom: 2rem;
  padding: 0.5rem;
  background-color: rgba(239, 240, 241, 1);
  border: 3px solid transparent;
  border-radius: .3125em;
  transition: all 0.5s ease;
}

input[type="text"]:focus {
  outline: none;
  border: 3px solid #46698B;
  background: #FFFFCC;
}

section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

section a {
  margin: 1rem;
}

/* Media queries */
@media (min-width: 768px) {
  .container {
    width: 70%;
  }
}

/* TODO: figure out the arrow button position for the lightbox */
/* TODO: figure out how to implement search function */
