* {
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 2rem auto;
}

main {
  text-align: center;
}

input[type="text"] {
  margin-bottom: 2rem;
}

section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

a {
  margin: 1rem;
}

/* Media queries */
@media (min-width: 768px) {

}
